{% extends 'core/base.html' %}

{% block contenido %}

        <div class="content-all">
            <div class="content-carrousel">
                <figure><img src="static/core/images/img1.jpg"></figure>
                <figure><img src="static/core/images/img2.jpg"></figure>
                <figure><img src="static/core/images/img3.jpg"></figure>
                <figure><img src="static/core/images/fig7.jpg"></figure>
                <figure><img src="static/core/images/img9.jpg"></figure>
                <figure><img src="static/core/images/img6.jpg"></figure>
                <figure><img src="static/core/images/img7.jpeg"></figure>
                <figure><img src="static/core/images/img8.jpg"></figure>
                <figure><img src="static/core/images/img9.jpg"></figure>
                <figure><img src="static/core/images/img10.jpg"></figure>
            </div>
        </div>


{% endblock contenido %}